@font-face {
    font-family: $GothicA1;
    src: url("../../../assets/fonts/GothicA1-Regular.ttf") format("truetype");
  }
@font-face {
    font-family: $OpenSans-Reg;
    src: url("../../../assets/fonts/OpenSans-Regular.ttf") format("truetype");
  }
@font-face {
    font-family: $OpenSans-SBold;
    src: url("../../../assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
  }
@font-face {
    font-family: $SFPProDisplay;
    src: url("../../../assets/fonts/SFProDisplay-Black.ttf") format("truetype");
  }
@font-face {
    font-family: $TTHoves-Bold;
    src: url("../../../assets/fonts/TTHovesProTrial-Bold.ttf") format("truetype");
  }
@font-face {
    font-family: $TTHoves-Light;
    src: url("../../../assets/fonts/TTHovesProTrial-Light.ttf") format("truetype");
  }
@font-face {
    font-family: $TTHoves-Medium;
    src: url("../../../assets/fonts/TTHovesProTrial-Medium.ttf") format("truetype");
  }
@font-face {
    font-family: $TTHoves-Regular;
    src: url("../../../assets/fonts/TTHovesProTrial-Regular.ttf") format("truetype");
  }


body {
    font-family: $TTHoves-Regular;
    font-weight: 400;
}