/**
  |============================
  | Colors
  |============================
*/
$black: #000000;
$main-grey: #333;
$main-grey-80: #333333CC;
$light-grey: #BDBDBD;
$dark-grey:#8D8D8D;
$white: #ffffff;
$red: #C30000;
$input-color: #F3F3F3;
$slider-btn-color: #F9F9F9;
$number-color: #F2F2F2;
$footer-bg-color: #2C2C2C;
$footer-rights-color: rgba(200, 200, 200, 0.50);
/**
  |============================
  | Others
  |============================
*/

$phone: 320px;
$phone-wide: 480px; 
$pre-tablet: 767.98px;
$tablet: 768px;
$pre-desktop: 1439.98px;
$desktop: 1440px;

$time-dur: 500ms;
$time-func: cubic-bezier(0.4, 0, 0.2, 1);

// Font Family

$GothicA1: 'GothicA1';
$OpenSans-Reg: 'OpenSans-Reg';
$OpenSans-SBold: "OpenSans-SBold";
$SFPProDisplay: 'SFPProDisplay';
$TTHoves-Bold: 'TTHoves-Bold';
$TTHoves-Light: 'TTHoves-Light';
$TTHoves-Medium: 'TTHoves-Medium';
$TTHoves-Regular: 'TTHoves-Regular';
