%flex-container{
  display: flex;
  align-items: center;
}

%button {
  @extend %flex-container;
  justify-content: center;
  gap: 12px;
  width: 222px;
  height: 71px;
  border: none;
  cursor: pointer;
}