<section class="section ">
  <div class="container about__container">
    <div class="image-wrapper">
      <div class="image-innerwrapper">
    <picture>
      <source
        media="(min-width: 375px)"
        srcset="./img/about/wall.jpg, ./img/about/wall@2x.jpg 2x"
        type="image/jpg"
      />
      <img
        class="wall_image "
        src="./img/about/wall.jpg"
        alt="the glass wall of the building"
        data-aos="zoom-in"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 375px)"
        srcset="./img/about/innerCorner.jpg, ./img/about/innerCorner@2x.jpg 2x"
        type="image/jpg"
      />
      <img
        class="innerCorner_image"
        src="./img/about/innerCorner.jpg"
        alt="the glass inner corner of the building"
        data-aos="zoom-in"
      />
    </picture>
  </div>
    <picture>
      <source
        media="(min-width: 375px)"
        srcset="./img/about/outerСorner.jpg, ./img/about/outerСorner@2x.jpg 2x"
        type="image/jpg"
      />
      <img
        class="outerСorner_image"
        src="./img/about/outerСorner.jpg"
        alt="the glass outer corner of the building"
        data-aos="zoom-in"
      />
    </picture>
    
  </div>
  <div class="about-wrapper">
    <h2 class="about__title title">О компании</h2>
    <p class="about__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  <button class="light-button">
    <span class="light-button__text">Читать</span>
    <svg class="light-button__icon" width="24" height="24">
      <use href="./img/sprite.svg#icon-arrow"></use>
    </svg>
  </button>
  </div>
</section>
