<section class="section">
  <div class="container">
    <h2 class="connection__title title">Связаться с нами</h2>
    <div class="connection__wrapper">
      <form class="connection__form">
        <input
          class="connection__input"
          type="text"
          name="username"
          placeholder="Имя"
        />
        <div class="input-container">
          <input
            class="connection__input"
            type="tel"
            name="userphone"
            required
            placeholder="Номер телефона"
          />
          <span class="required required--phone">*</span>
        </div>
        <div class="input-container">
          <input
            class="connection__input"
            type="email"
            name="useremail"
            required
            placeholder="E-mail"
          />
          <span class="required required--email">*</span>
        </div>
        <input
          class="connection__input"
          type="text"
          name="userorder"
          placeholder="Интересующий товар/услуга"
        />
        <div class="input-container">
          <textarea
            class="connection__input connection__input--textarea"
            name="feedback"
            rows="5"
            required
            placeholder="Сообщение"
          ></textarea>
          <span class="required required--message">*</span>
        </div>
        <p class="connection__text">Отправляя заявку Вы соглашаетесь с политикой конфиденциальности</p>
        <button class="dark-button dark-button--connections" type="submit">
          <span class="dark-button__text">Отправить</span>
          <svg class="dark-button__icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </form>
      <picture class="connection__picture">
        <source
          media="(min-width: 375px)"
          srcset="
            ./img/connection/image1.jpg,
            ./img/connection/image1@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="connection__image"
          src="./img/connection/image1.jpg"
          alt="man talking on the phone"
          data-aos="zoom-in"
        />
      </picture>
    </div>
  </div>
</section>
