<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a class="footer__logo">
        <img src="./img/logo.svg" alt="logo" />
      </a>
      <div class="footer__info">
        <h3 class="footer__title">Информация</h3>
        <nuv>
          <ul>
            <li class="info__item">
              <a class="footer__text" href="#">Главная</a>
            </li>
            <li class="info__item">
              <a class="footer__text" href="#">Галерея</a>
            </li>
            <li class="info__item">
              <a class="footer__text" href="#">Проекты</a>
            </li>
            <li class="info__item">
              <a class="footer__text" href="#">Сертификаты</a>
            </li>
            <li class="info__item">
              <a class="footer__text" href="#">Контакты</a>
            </li>
          </ul>
        </nuv>
      </div>
      <div class="footer__contacts">
        <h3 class="footer__title">Контакты</h3>
        <address>
          <ul>
            <li class="contacts__item">
              <svg class="icon-location" width="15" height="20" fill="white">
                <use href="./img/sprite.svg#icon-location"></use>
              </svg>
              <a
                class="footer__text"
                href="https://goo.gl/maps/8V216aqCTR1ACYVCA"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >100000, Республика Казахстан,<br />
                г. Караганда, ул. Телевизионная 10</a
              >
            </li>
            <li class="contacts__item">
              <svg class="icon-phone" width="11" height="16">
                <use href="./img/sprite.svg#icon-phone"></use>
              </svg>
              <a class="footer__text" href="tel:+380000000000"
                >+38 (000) 000 00 00</a
              >
            </li>
            <li class="contacts__item">
              <svg class="icon-envelope" width="16" height="11">
                <use href="./img/sprite.svg#icon-envelope"></use>
              </svg>
              <a class="footer__text" href="mailto:mail@gmail.com"
                >mail@gmail.com</a
              >
            </li>
          </ul>
        </address>
      </div>
      <div>
        <h3 class="footer__title">Социальные сети</h3>
        <ul class="footer__socials">
          <li>
            <a
              class="socials__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="socials__icon"
                width="20"
                height="20"
                aria-label="Фейсбук"
              >
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="socials__link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="socials__icon"
                width="20"
                height="20"
                aria-label="Твиттер"
              >
                <use href="./img/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>

          <li>
            <a
              class="socials__link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="socials__icon"
                width="20"
                height="20"
                aria-label="ЛинкедИн"
              >
                <use href="./img/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>

          <li>
            <a
              class="socials__link"
              href="https://www.pinterest.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="socials__icon"
                width="20"
                height="20"
                aria-label="Пинтерест"
              >
                <use href="./img/sprite.svg#icon-pinterest"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="footer__rights">&copy; 2019 Digital Project. Все права защищены.</p>
</footer>
