<!-- Header-->
<header class="header">
  <div class="container flex">
    <a class="logo">
      <svg class="logo__icon" width="68" height="41">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
      <img class="logo__name" src="./img/company.svg" alt="Company name" />
    </a>

    <nav class="navigation">
      <ul class="navigations__list flex">
        <li class="navigations__item">
          <a class="navigations__link selected">Главная</a>
        </li>

        <li class="navigations__item">
          <a class="navigations__link">Галерея</a>
        </li>

        <li class="navigations__item">
          <a class="navigations__link">Проекты</a>
        </li>

        <li class="navigations__item">
          <a class="navigations__link">Сертификаты</a>
        </li>
        <li class="navigations__item">
          <a class="navigations__link">Контакты</a>
        </li>
        <li><button
          id="open_mobile_menu"
          type="button"
          class="navigations__button"
          aria-expanded="false"
        >
          <svg class="burger-icon" width="20" height="20">
            <use href="./img/sprite.svg#burger-menu"></use>
          </svg>
        </button></li>
      </ul>
    </nav>
  </div>
</header>
