<div class="burger-menu js-menu-container flex">
  <nav>
    <ul class="navigations__list_mb flex">
      <li class="navigations__item_mb">
        <a class="navigations__link_mb">Главная</a>
      </li>

      <li class="navigations__item_mb">
        <a class="navigations__link_mb">Галерея</a>
      </li>

      <li class="navigations__item_mb">
        <a class="navigations__link_mb">Проекты</a>
      </li>

      <li class="navigations__item_mb">
        <a class="navigations__link_mb">Сертификаты</a>
      </li>
      <li class="navigations__item_mb">
        <a class="navigations__link_mb">Контакты</a>
      </li>
    </ul>
  </nav>

  <button class="menu-close__btn js-close-menu">
    <svg class="close-button" stroke="#000" width="24" height="24">
      <use href="./img/sprite.svg#close-button"></use>
    </svg>
  </button>
</div>
