<section class="section">
  <div class="container">
    <h2 class="projects__title title">Наши проекты</h2>
    <ul class="projects__list">
      <li class="image__thumb first-image">
        <picture>
          <source
            media="(min-width: 375px)"
            srcset="./img/projects/card1.jpg, ./img/projects/card1@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="first-image"
            src="./img/projects/card1.jpg"
            alt="project of a white building"
          />
        </picture>
        <div class="image__overlay">
          <p class="image__text">Досуговый центр</p>
          <button class="image__button">
            <span class="img-button__text">Подробнее</span
            ><svg class="img-button__icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="image__thumb second-image">
        <picture>
          <source
            media="(min-width: 375px)"
            srcset="./img/projects/card2.jpg, ./img/projects/card2@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="second-image"
            src="./img/projects/card2.jpg"
            alt="project of a fan-shaped building"
          />
        </picture>
        <div class="image__overlay">
            <p class="image__text">Опера</p>
            <button class="image__button">
              <span class="img-button__text">Подробнее</span
              ><svg class="img-button__icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
      </li>
      <li class="image__thumb third-image">
        <picture>
          <source
            media="(min-width: 375px)"
            srcset="./img/projects/card3.jpg, ./img/projects/card3@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="third-image"
            src="./img/projects/card3.jpg"
            alt="stadium project"
          />
        </picture>
        <div class="image__overlay">
            <p class="image__text image__text--small">Стадион</p>
            <button class="image__button">
              <span class="img-button__text">Подробнее</span
              ><svg class="img-button__icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
      </li>
      <li class="image__thumb fourth-image">
        <picture>
          <source
            media="(min-width: 375px)"
            srcset="./img/projects/card4.jpg, ./img/projects/card4@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="fourth-image"
            src="./img/projects/card4.jpg"
            alt="project of a residential complex"
          />
        </picture>
        <div class="image__overlay">
            <p class="image__text">Жилой комплекс</p>
            <button class="image__button">
              <span class="img-button__text">Подробнее</span
              ><svg class="img-button__icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
      </li>
      <li class="image__thumb fifth-image">
        <picture>
          <source
            media="(min-width: 375px)"
            srcset="./img/projects/card5.jpg, ./img/projects/card5@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="fifth-image"
            src="./img/projects/card5.jpg"
            alt="museum project"
          />
        </picture>
        <div class="image__overlay">
            <p class="image__text">Музей</p>
            <button class="image__button">
              <span class="img-button__text">Подробнее</span
              ><svg class="img-button__icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
      </li>
    </ul>
    <button class="dark-button dark-button--projects">
      <span class="dark-button__text">Все проекты</span>
      <svg class="dark-button__icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</section>
