<section class="section">
  <div class="container tasks-container">
    <h2 class="tasks__title title">Основные задачи</h2>
    <div class="text-wrapper flex">
      <div class="text-innerwrapper flex">
        <p class="tasks__number">1</p>
        <p class="tasks__text tasks__text--one">
          Создание комфортных условий и повышение качества обслуживания клиентов
        </p>
      </div>
      <div class="text-innerwrapper flex">
        <p class="tasks__number">2</p>
        <p class="tasks__text tasks__text--two">
          Постоянно совершенствовать качество предоставляемых услуг путем
          обучения персонала, закупки нового оборудования и усиленной рекламы на
          рынке
        </p>
      </div>
    </div>
  </div>
</section>
