.burger-menu {
    @extend %flex-container;
    gap: 30px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    transform: translateX(100%);
    transition: transform $time-dur $time-func;

    &.is-open {
      transform: translateX(0);
    }
  }
  
  .menu-close__btn {
    display: flex;
    background: transparent;
    border: none;
    position: absolute;
    top: 22px;
    right: 20px;
  }

.navigations {
  &__list_mb {
    @extend %flex-container;
      flex-direction: column;
      gap: 20px;
  }
  
  &__item_mb {
      color: $main-grey;
      transition: transform $time-dur $time-func;
  
      &:hover,
      &:focus {
          transform: scale(1.2);
      }
  }
}

  